* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header{
    background-color:white
}

h1 {
    margin: 1%;
    display: inline-block;
     
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;  
}

.header nav ul {
    list-style-type: none;

}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.container {
    background-image: url("Images/AdobeStock_370668706.jpeg");
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
}


.content {
    width: 75%;
    display: inline-block;
    margin-left: 100px;
}
.linksthree{
    text-align: center;
}

.grid-container {
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    background-color:white;
    padding: 5px;
    
  }


.grid-container:hover {
    border-width: 3px;
    text-size-adjust: 150%;
  }
  
  
  
  .griditem {
    background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  position:relative;
    top:-50px;
  }
  

 
  #social img {
    opacity: 50%;
  }
  #social:hover img {
    opacity:100%;
    transform: scale(1.1);  
  }


p {
   font-size: 20px;
}

.linkstwo h2{
    padding: 5%;
}
    



