/* Applies to full page */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:white
}

/* Header */
.header{
    background-color:white;
}

h1 {
    margin: 1%;
    display: inline-block;
    font-size: 35px;     
}

/* Navigation */
.header nav {
    padding-top: 28px;
    margin-right: 20px;
    float: right;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;     
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;    
}

.header nav ul li a {
    text-decoration: none;
    color:steelblue;    
}

/* Main Image */
.container {
    background-image: url("Images/AdobeStock_370668706.jpeg");
    background-position: center;
    height: 300px;
    width: 100vw;
}

/* Content */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 100px;
}

p {
    font-size: 20px;
    text-align: center;   
}

h2 {
    padding: 2%;
    text-align: center;
    color:steelblue;
    font-size: 30px;
    text-decoration: underline;   
}

h3 {
    text-align: center;
    padding-bottom: 5%;
}

.linksthree{
    text-align: center;
    font-size: 25px;
    padding-bottom:2%;    
}

.linksthree a {
    text-decoration: none;
}

/* Project Alignment and Opacity/hover */
.grid-container {
    display: flex;
    padding: 5px;
    padding-left: 5%;   
    width: auto;
}

.grid-container:hover {
    border-width: 3px;
    text-size-adjust: 100%;
}
  
.griditem {
  padding:1em;
  font-size: 18px;
  text-align: left;
  position:relative;
  height: 300px;
  width: 50%;
}
  
#snippet img {
    opacity: 50%;
}

#snippet:hover img {
    opacity:100%;
    transform: scale(1.1);  
}
/* Media Query */
@media only screen and (max-width: 600px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

    }

    .grid-container{
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    .griditem {
        width: 100vw;
    }

}







    



